In [1]:
import pandas as pd

In [3]:
import os
os.listdir()

['FINAL_enriched_final_df_merged.csv', '.ipynb_checkpoints', 'analysis.ipynb']

In [4]:
df=pd.read_csv('FINAL_enriched_final_df_merged.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1048575 non-null  int64
 1   Unnamed: 0.1          1048575 non-null  int64
 2   Rank                  1048575 non-null  int64
 3   Term name             1048575 non-null  object
 4   P-value               1048575 non-null  float64
 5   Z-score               1048575 non-null  float64
 6   Combined score        1048575 non-null  float64
 7   Overlapping genes     1048575 non-null  object
 8   Adjusted p-value      1048575 non-null  float64
 9   Old p-value           1048575 non-null  int64
 10  Old adjusted p-value  1048575 non-null  int64
 11  cascade_value         1048575 non-null  int64
 12  cascade               1048575 non-null  object
dtypes: float64(4), int64(6), object(3)
memory usage: 104.0+ MB

In [7]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Rank,Term name,P-value,Z-score,Combined score,Overlapping genes,Adjusted p-value,Old p-value,Old adjusted p-value,cascade_value,cascade
0,0,0,1,acute myeloid leukemia,0.005193,391.117647,2057.429717,['STAT3'],0.009716,0,0,0,"['STAT3', 'PRDM1']"
1,1,1,2,adipocytokine signaling pathway,0.007087,284.685714,1409.030276,['STAT3'],0.009716,0,0,0,"['STAT3', 'PRDM1']"
2,2,2,3,pancreatic cancer,0.007287,276.750000,1362.078895,['STAT3'],0.009716,0,0,0,"['STAT3', 'PRDM1']"
3,3,3,4,jak stat signaling pathway,0.014745,135.040816,569.442637,['STAT3'],0.014745,0,0,0,"['STAT3', 'PRDM1']"
4,4,4,1,acute myeloid leukemia,0.005193,391.117647,2057.429717,['STAT3'],0.009716,0,0,1,"['STAT3', 'KLF5']"

In [9]:
l_pathways=df["Term name"].value_counts()

In [10]:
l_pathways.__len__()

49

In [11]:
df["cascade"].shape

(1048575,)

In [12]:
l_cascades=df["cascade"].value_counts()

In [13]:
l_cascades.__len__()

10000